<app-is-logged-in></app-is-logged-in>
<mat-sidenav-container class="example-container"  >
    <mat-sidenav mode="side" opened> 
     
  
  
    </mat-sidenav>
    <mat-sidenav-content>
        <nav class="navbar  navbar-dark "  style="  background-color: #111;  ">
           
            
            <div class="container-fluid" class="col-4">
                
                    <h1 style="color:blue;">Welcome to Inturbidus </h1>
                
               
              <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
     
                    
                
              </div>
           
        
            </div>
          </nav>
           
           
            <mat-card-content > 
                
           <app-nav></app-nav>
            </mat-card-content>  
        
                </mat-sidenav-content>
              </mat-sidenav-container>
          
          