mat-sidenav-container class="example-container" style="  overflow-y: hidden;" >
  <mat-sidenav mode="side" opened  style="height:100vh;
   overflow-y: hidden;"> 

<img class = 'images' class="images" src="./assets/Logo.png" style="width:200px;height:100px;"/>
              
     <div class="sidenav"  style=" overflow-y: hidden; ">
   
 <a href="#about"> 
           <mat-icon class="icons">home</mat-icon>
        Home
      </a>

      <a href="#about">
        <mat-icon class="icons">info</mat-icon>
        About</a>

      <a href="#services">
        <mat-icon class="icons">description</mat-icon>
        Administration</a>

      <a href="#clients">
        <mat-icon class="icons">assignment_ind</mat-icon>
        Employee Management</a>

    

      <a href="#contact">
        <mat-icon class="icons">location_city</mat-icon>

        Property Management</a>


      <a href="#contact">
        <mat-icon class="icons">how_to_reg</mat-icon>
        Agent Management</a>


      <a href="#contact">
        <mat-icon class="icons">airline_seat_individual_suite</mat-icon>
        Rental Management</a>

      <a href="#contact">
        <mat-icon class="icons">record_voice_over</mat-icon>        
        Complaint Management</a>

      <a href="#contact">
        <mat-icon class="icons">supervised_user_circle</mat-icon>
        User Management</a>

      <a href="#contact">
        <mat-icon class="icons">assignment_turned_in</mat-icon>
        Inspection Management</a>
      <a href="#contact">
        <mat-icon class="icons">calendar_today</mat-icon>
        Booking Management</a>
      <a href="#contact">
        <mat-icon class="icons"> multiline_chart</mat-icon>
        Reporting</a>
      <a href="#contact">
        <mat-icon class="icons">build</mat-icon>
        Maintenance</a>

      <a href="#contact">
        <mat-icon class="icons">exit_to_app</mat-icon>
        Logout</a>



</div>
  </mat-sidenav>
